<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.portalcms.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.mt.portalcms.pojo.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="pic_type" jdbcType="INTEGER" property="picType" />
    <result column="index_sort" jdbcType="INTEGER" property="indexSort" />
    <result column="index_status" jdbcType="INTEGER" property="indexStatus" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>